name: npm:publish
on:
  release:
      types:
        - published

jobs:
  npm-publish:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
      TAG_NAME: ${{ github.event.release.tag_name }}
      BODY: ${{ github.event.release.body }}
    permissions:
      contents: write
      id-token: write
    
    steps:
      - uses: actions/checkout@v4
        with: 
          ref: ${{ github.event.repository.default_branch }}

      - uses: actions/setup-node@v4
        with:
          node-version: 'latest'
          registry-url: 'https://registry.npmjs.org'
      
      - name: Login as Actions Bot
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
      - run: npm ci
      
      - name: Match package/release version
        run: npm version "$TAG_NAME" -m "build&#58 bump" --allow-same-version

      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Push to main
        run: |
          git pull origin HEAD:main
          git push origin HEAD:main

      - name: Update Release notes
        run: |
          package_name=$(npm pkg get name | jq -r)
          package_url="https://npmjs.com/package/${package_name}"

          package_mdlink="[${package_name}](${package_url})"
          provenc_mdlink="[provenance](${package_url}#provenance)"

          note="Published: ${package_mdlink} with build ${provenc_mdlink}."

          gh release edit "${TAG_NAME}" -n "$(printf "%s\n\n ${BODY}", "$note")"
